<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form th:action="@{/save_profile}" method="post" th:object="${customer}" 
						enctype="multipart/form-data">
					<span class="login100-form-title p-b-49">
						Profile
					</span>
					
					<div>
						<img alt="user profile" th:src="@{${customer.photoPath}}" id="thumnail" width="300" height="auto">
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="email" placeholder="Type your email" th:field="*{email}">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<span class="label-input100">First Name</span>
						<input class="input100" type="text" name="firstName" placeholder="Type your First name" th:field="*{firstName}">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<span class="label-input100">Last Name</span>
						<input class="input100" type="text" name="lastName" placeholder="Type your Last name" th:field="*{lastName}">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<span class="label-input100">Phone number</span>
						<input class="input100" type="text" name="phonenumber" placeholder="Type your phone number" th:field="*{phoneNumber}">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<span class="label-input100">Address</span>
						<input class="input100" type="text" name="address" placeholder="Type your address" th:field=*{address}>
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<span class="label-input100">Photo</span>
						<input class="input100" type="file" id="imgProfile" name="fileImage" accept="image/*">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<input class="input100" type="text" name="id" hidden="true" th:field=*{id}>
					<input class="input100" type="text" name="id" hidden="true" th:field=*{password}>
					<input class="input100" type="text" name="id" hidden="true" th:field=*{enabled}>
					<input class="input100" type="text" name="authProvider" hidden="true" th:field=*{authProvider}>
					authProvider
					<br>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" th:formaction="@{/save_profile}" formmethod="post" class="login100-form-btn">
								Save Profile
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#imgProfile").change(function() {
				readUrl(this);
			});
		});
		
		function readUrl(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				
				reader.onload = function(e) {
					$('#thumnail').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}

		
	</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("imgProfile").change(function() {
			readUrl(this)
		})
	});
	
	function readUrl(input) {
		if(input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function(e) {
				$('photoprofile').attr('src', e.target.result)
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
</script>
</body>
</html>