<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTile">CoffeeMint</h4>
				</div>
				
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="close">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>